@import url("https://fonts.googleapis.com/css2?family=Purple+Purse&family=Rosarivo&display=swap");
@font-face {
  font-family: "PartialSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.kakao_login_container {
  width: 100%;
  background: #ffb287;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.login_box {
  background: white;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.service_text {
  font-family: "PartialSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2")
    format("woff2");
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.06);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  /* margin-bottom: 1%; */
  background: linear-gradient(90deg, #ffb287 0%, #ff6c1b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5px; /* 로고와 텍스트 간의 가로 여백 설정 */
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 400px;
  height: 1px;
  background: #a4a2a2;
  margin: 2%;
}

.login_button {
  cursor: pointer;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30%;
}

.bottom_text {
  color: var(--black-9001-a-1-a-1-a, #1a1a1a);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Rosarivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-right: 15px;
}
