@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Nanum+Gothic&display=swap");

.navbarM {
  width: 100%;
  /* height: 9vh; */
  height: 98px;
  background-color: white;

  position: sticky;
  top: 0px;
  z-index: 999;
  /* overflow-x: hidden; */
}

.navLogoM {
  padding: 7px 10px 5px 30px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.signInM,
.signUpM {
  font-family: "IBM Plex Sans KR", sans-serif;
  position: relative;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
}

.navUserM {
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 30px;
}

.signInM:hover,
.signUpM:hover {
  color: #ff6c1b;
}

.navTop {
display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBtm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexNameM {
  font-family: "IBM Plex Sans KR", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  transition: color 0.3s;
  font-weight: bold;
  margin:6px 12px;
  cursor: pointerS;
  color:rgb(54, 54, 54);
}

.indexNameM:hover,
.indexNameM.active {
  color: #ff6c1b;
}
