@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=Nanum+Gothic&display=swap");

.navbarMainM {
    width: 100%;
    /* height: 9vh; */
    height: 58px;
    background-color: white;

    position: sticky;
    top: 0px;
    z-index: 999;
    /* overflow-x: hidden; */
}

.navLogoMainM {
    padding: 7px 10px 5px 30px;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.signInMainM,
.signUpMainM {
    font-family: "IBM Plex Sans KR", sans-serif;
    position: relative;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
}

.navUserMainM {
    font-size: 13px;
    display: flex;
    align-items: center;
    padding: 17px 20px 5px 30px;
}

.signInMainM:hover,
.signUpMainM:hover {
    color: #ff6c1b;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}